@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  user-select: none;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body::-webkit-scrollbar{
  display: none;
}